.public_layout {
  display: flex;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  color: var(--primary_text);
  font-family: var(--font_geist);
  padding: 20px;
  overflow: auto;

  [class$='_page'] {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
