.private_layout {
  display: flex;
  flex: 1;
  height: 100dvh;
  color: var(--primary_text);
  font-family: var(--font_geist);

  &--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
