.password_input {
  position: relative;

  &--input {
    width: 100%;
    padding: 6px 16px;
    border: 1px solid var(--border_color);
    border-radius: var(--border_radius);
    background-color: var(--main_surface);
    transition: all 0.3s ease;
    font-family: var(--font_geist);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: var(--primary_text);
    box-sizing: border-box;

    &.with_button {
      padding-right: 95px;
    }

    &:focus {
      border-color: var(--focus_color);
      outline: 0;
    }

    &::placeholder {
      color: var(--placeholder_text);
    }

    &:disabled {
      cursor: not-allowed;
      pointer-events: initial;
      opacity: 0.5;
    }

    &--error,
    &--error:focus {
      border-color: var(--error_input);
      color: var(--error_input);
    }
  }

  &--forgot_password {
    position: absolute;
    top: 0;
    right: 8px;
    color: var(--secondary_text);
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px 0;

    &:hover {
      color: var(--focus_color);
    }
  }

  &--indicator {
    display: flex;
    gap: 4px;
    margin-top: 8px;
    width: 100%;
    padding: 0 4px;

    &--block {
      flex: 1 1 auto;
      height: 4px;
      background-color: var(--muted); /* Колір для незаповнених блоків */
      border-radius: 2px;
      transition: background 0.3s;
    }
  }
}
