.toast {
  padding: 12px 24px;
  background-color: var(--main_surface);
  color: var(--primary_text);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: slideInRight 0.3s ease forwards; // змінюємо анімацію
  max-width: 400px;
  width: 100%;
  width: fit-content;

  &--message {
    font-size: 14px;
  }

  &--error,
  &--info {
    border-right: 4px solid;
    background-color: var(--secondary_surface);
    border-radius: var(--border_radius) 0 0 var(--border_radius);
  }

  &--error {
    border-color: var(--error_border_color);
  }
  &--info {
    border-color: var(--primary_border_color);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
